nav {
  margin-top: 3px;
}

.container {
  margin-left: 10px !important;
}


ul.nav.navbar-nav {
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}

ul.nav.navbar-nav>li {
  /*margin-left: 20px;*/
}

@media (max-width: 650px) {
  ul.nav.navbar-nav>li {
    margin-left: 0px;
  }
}




