/********************
  Elements
********************/

body {
  font-family: 'PT Sans', sans-serif; }

 h1, h2, h3, h4, h5 {
  color: #464646; }

/*html {
  margin-bottom: 50px; }*/


/********************
  Id's
********************/
#main-container {
  margin: 20px; }


/********************
  Classes
********************/

.required-text {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}

.required-field {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.margin-bottom {
  margin-bottom: 80px;
}

.error-response-text {
  color: #FF0000;
  border: 1px solid #FF0000;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
}

.val-error {
  border: 2px solid red;
  box-shadow: 0px 0px 17px #fea6a6;
}

.val-error:focus {
  border: 2px solid red;
  box-shadow: 0px 0px 17px #fea6a6;
}

.validation-error-text {
  color: #FF0000;
  font-weight: bold;
  text-align: center;
}

.footer {
  font-size: 1.5rem;
}
.logo-color {
  color: #84AC0B;
}

.row {
  margin: 0px; 
}

.centered {
  text-align: center; 
}


.styled-button {
  background-color: #000000;
  color: #A6A5A5;
  font-weight: bolder;
  -webkit-transition: background-color .75s;
  /* Safari */
  transition: background-color .75s; }
  .styled-button:hover {
    background-color: #535353; }


.margin-top {
  margin-top: 50px; }


.margin-top-sm {
  margin-top: 20px; }


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #84AC0B;
  border-color: #84AC0B;
}

.pagination>li>a, .pagination>li>span {
  color: black;
}